.mt-custom-6 {
    margin-top: 3.5rem !important;
}

    .mt-custom-6  .section-title {
        margin-top: 2.5rem !important;
    }

    .steps .container .row p {
        margin-bottom: 0.8rem;
    }

.button-custom-blue {
    background: #e2e5fe;
    border: 0;
    padding: 10px 24px;
    color: #3b4ef8;
    transition: 0.4s;
    border-radius: 5px;
}

    .button-custom-blue:hover {
        background: #0a22f6;
        color: white;
    }

.postulado {
    padding: 10px 24px;
    border-radius: 5px;
    background-color: #e2fef1;
    color: #147a46;
    font-size: .875rem;
}


.fecha_limite {
    color: #aaaaaa;
    font-size: 13px;
    margin: 0;
    padding: 0;
}


.portfolio-details .portfolio-info h4 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info h5 {
    font-size: 16px;
/*    font-weight: 600;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;*/
}
.portfolio-details ul {    
    min-height:180px;
}

    .portfolio-details ul li, .portfolio-details table {
        font-size: 13px;
    }

.link-custom, .link-custom:focus {
    background: #e2e5fe;
    padding: 9px 25px;
    border-radius: 5px;
    color: #fff;
    color: #3b4ef8;
    font-size: 14px;
    font-weight: 600;
    transition: 0.3s;
}

.link-custom:hover, .link-custom:focus:hover {
    color: #fff;
    background: #3b4ef8;
}


.active > a{
    color: #3b4ef8;
}


.button-custom {
    background: #3b4ef8;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
}

    .button-custom:hover {
        background: #0a22f6;
    }


.button-custom-delete {
    background: #FF9C9C;
    border: 0;
    padding: 5px 12px;
    color: #fff;
    transition: 0.4s;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
}

    .button-custom-delete:hover {
        background: #DC5959;
    }


.control-label {
    margin:5px 0px;
    font-size: 0.9rem;
}



.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}


.btn_cv {
    font-size:12px;
}

.table th {
    font-size: 1rem;
    font-weight: 800;
    color: #2d405f;
}

.table {
    font-size: 0.9rem;    
}

.btn-outline-custom {
    color: #3b4ef8;
    border-color: #e2e5fe;
}