.mt-custom-6 {
    margin-top: 3.5rem !important;
}

    .mt-custom-6  .section-title {
        margin-top: 2.5rem !important;
    }

    .steps .container .row p {
        margin-bottom: 0.8rem;
    }

.button-custom {
    background: #e2e5fe;
    border: 0;
    padding: 10px 24px;
    color: #3b4ef8;
    transition: 0.4s;
    border-radius: 5px;
}

    .button-custom:hover {
        background: #0a22f6;
        color:white;
    }

.postulado {
    padding: 10px 24px;
    border-radius: 5px;
    background-color: #e2fef1;
    color: #147a46;
    font-size: .875rem;
}


.fecha_limite {
    color: #aaaaaa;
    font-size: 13px;
    margin: 0;
    padding: 0;
}